<h3>Welcome!</h3>
<p>Hello there! And welcome to Jeorgius website! Enjoy your stay! Here you can
    find my videos, listen to my music absolutely for free and reach orgasm watching
    my guitars. <br />
    Also you can send a request for me to make a video! Choose two styles among those:</p>
<p> Blues<br/>
    Country<br/>
    Metal<br/>
    Funk<br/>
    Jazz<br/>
    Pop</p>
<p>Also there is a variaty of different moods! Want jazzy pop to feel yourself among
    the dragons? Sure, why not! </p>