<form method="POST">
    Your Nickname: <input class="Login-forms" type="text" name="nickname" id="nickname" /><br />
    Email: <input class="Login-forms" type="text" name="email" id="email" /><br />
    Name: <input class="Login-forms" type="text" name="name" id="name" /> <br />
    Surname: <input class="Login-forms" type="text" name="surname" id="surname" /> <br />
    Password: <input class="Login-forms" type="password" name="pw" id="registerPW" /> <br />
    <button id="registerButton" type="button">Push it already</button>
</form>


<form method="POST" action="">
    Comment: <input class="Login-forms" type="text" name="comment" id="commentForm" /><br />
    <button id="commentButton" type="button">Push it already</button>
</form>


<form method="POST" id="AjaxText">
    <input class="Login-forms" name="catism1" type="text" /><br />
    <input class="Login-forms" name="catism2" type="text" /> <br />
    <div id="requestedGetOut">Enter a server request:</div><br />
    <button id="requesting" type="button">Go Ahead</button>
</form>

<form method="POST" action="dbAction.php">
    <button class="Login-forms" type="submit">Database test</button>
</form>